/**
 * @file
 * views_timeline.module css
 *
 * (SMACSS) Module CSS for Views Timeline.
 *
 * @author: Frederic G. MARAND <fgm@osinet.fr>
 *
 * @copyright (c) 2013-2014 Ouest Systèmes Informatiques (OSInet).
 *
 * @license General Public License version 2 or later
 */

.views-timeline>.band>.past,
.views-timeline>.band>.future {
  position: absolute;
}

.views-timeline>.band img {
  display: block;
}
