/**
 * @file
 * views_timeline.theme.css
 *
 * (SMACSS) Theme CSS for Views Timeline.
 *
 * @author: Frederic G. MARAND <fgm@osinet.fr>
 *
 * @copyright (c) 2013-2014 Ouest Systèmes Informatiques (OSInet).
 *
 * @license General Public License version 2 or later
 */

.views-timeline {
  margin-bottom: 1em;
}

.views-timeline>.band {
  background: #f3f4ee;
  border: 1px solid #ccc;
  height: 22px;
}

.views-timeline>.band>.past {
  background-color: #fb9898;
  border: outset 3px #fb9898;
}

/* All future data apply this rule ... */
.views-timeline>.band>.future {
  background-color: chartreuse;
  border: outset 3px chartreuse;
}

/* ... but all future data except the first overwrite it with this one */
.views-timeline>.band>.future + .future {
  background-color: royalblue;
  border: outset 3px royalblue;
}
